print('Soltanay Aruzhan')

# Вывести большее из двух чисел
# введенных с клавиатуры
a = int(input())
b = int(input())
if a > b:
    print('Большее число a = ' + str(a))
else:
    print('Большее число b = ' + str(b))
